.box2{
   
    border: solid 2px black;
    padding: 15px;
    width: 60%;
    border-radius: 10px; /* 角を丸くする */
    background-color: black;
    text-align: left;
    margin-left:auto;
    margin-right:auto;
}

body{
    
    color: white;
    background-image: url("../image/haikei3.jpg");
    text-align: center;
}

h1{
    color: black;
}